body {
  text-align: center;
  font-size: 2em;
}

button {
  background-color: #38ae67;
  color: #fff;
  border: 1px solid #fff;
  border-radius: .75em;
  padding: 1em;
  font-size: 1.5em;
}

button:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}
